<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      form {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin: 0 auto;
      }
      button {
        grid-column: span 2;
      }
    </style>
  </head>
  <body>
    <% if (locals.error) { %>
    <div style="margin-bottom: 1rem; color: red">Incorrect Passowrd</div>
    <% } %>
    <form method="post">
      <label for="password">Password : </label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Download</button>
    </form>
  </body>
</html>
